<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title th:text="'Book: ' + ${book.title()}"></title>
</head>
<body>

<div th:insert="~{layout/header}"></div>

<h1 th:text="${@titleEnhancer.enhance(book.title())}"></h1>
<h2>Synopsis</h2>
<p th:text="${book.synopsis()}"></p>

<h2>Additional information</h2>
<ul>
    <li data-role="author">
        <span style="font-weight: bold;">Author: </span>
        <span th:text="${book.author()}"></span>
    </li>
    <li data-role="genre">
        <span style="font-weight: bold;">Genre: </span>
        <span th:text="${book.genre()}"></span>
    </li>
    <li data-role="publication-date">
        <span style="font-weight: bold;">Publication date: </span>
        <span th:text="${book.publicationDate()}"></span>
    </li>
    <li th:each="entry: ${book.additionalInformation()}" data-role="additional-information">
        <span th:text="${entry.getKey()} + ': '" style="font-weight: bold;"></span>
        <span th:text="${entry.getValue()}"></span>
    </li>
</ul>
</body>
</html>