<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring ❤️ GraalVM: JSON serialization and deserialization</title>
</head>
<body>

<h1>Spring ❤️ GraalVM: JSON serialization and deserialization</h1>
<p>
    JSON (de)serialization uses reflection to write (and read) to string format. Here we used:
</p>
<ul>
    <li><strong>Method:</strong> <span th:text="${method}"></span></li>
    <li><strong>Content:</strong> <span th:text="${data}"></span></li>
</ul>

</body>
</html>